# Folder dependensi (Sudah benar)
node_modules/
log/
backups/
# File konfigurasi sensitif (Wajib ditambah)
.env
.env.local

# Log error
npm-debug.log*
yarn-error.log*

UPLOAD_DIR=./uploads
```

### 6. Tambah di `.gitignore`
```
uploads/